@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: bisque;
}

.container {
  margin: 5rem auto;
  text-align: center;
  width: 75%;
}
